@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 67% 97%;
    --foreground: 271 100% 15%;
    --card: 0 0% 100%;
    --card-foreground: 271 100% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 271 100% 15%;
    --primary: 271 100% 25%;
    --primary-foreground: 240 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 271 100% 15%;
    --muted: 240 5% 90%;
    --muted-foreground: 240 5% 65%;
    --accent: 300 47% 74%;
    --accent-foreground: 271 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 85%;
    --input: 240 5% 85%;
    --ring: 271 100% 25%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 300 47% 74%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 63%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 300 47% 74%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
